<blockquote class="blockquote">


<br><br>
<p class="title">&nbsp;&nbsp;&nbsp;<b>What is STL_WSR?</b></p>
  <br>
  <p class="mb-0">&nbsp;&nbsp;
    A Weekly Status Report is a team's summary of the tasks completed, in progress or upcoming during the week.<br>
    &nbsp;&nbsp;  It can also include updates alerting teams to changes in schedules or timelines, deliverables, resources or risks</p>
 <br>

</blockquote>

&nbsp;&nbsp;&nbsp;<button type="button" routerLink="/addWsr" class="btn btn-primary">Create Report</button>

&nbsp;&nbsp;&nbsp;<button type="button" routerLink="/viewWsr" class="btn btn-primary">View Report</button>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>