<header>
    <nav class="navbar navbar-expand-md ">
        
       
        <ul class="navbar-nav">
            
            <li class="img">&nbsp;&nbsp;&nbsp;<b>STL_WSR</b></li>
            
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li class="m"><a routerLink="/welcome" class="nav-link" margin-bottom="10px">Home</a></li>
            <li class="m"><a routerLink="/report" class="nav-link" margin-bottom="10px">Report</a></li>
            <li class="m"><a routerLink="/About" class="nav-link" margin-bottom="10px">About</a></li>

            <li class="m"><a routerLink="/Contact" class="nav-link">Contact</a></li>
          <li class="m"><a routerLink="/login" class="nav-link">Login</a></li>
        </ul>

    </nav>
</header>