
<br/>
<br/>
<div class="container">
<div>
    <br><br>
    <h1>Login!</h1><br><br>
    <h3>User Name :<input type="text" name="username" ></h3><br><br/>
    <h3>Password    :  <input type="password" name="password" > </h3>  <br/><br/><br><br>
    <button (click)="handleLogin()" class="btn btn-primary">Login</button>
    &nbsp;&nbsp;&nbsp;
    <button (click)="handleRegistration()" class="btn btn-primary">Register</button>
    &nbsp;&nbsp;&nbsp;   
    <button type="submit" class="btn btn-primary" (click)="handleAdmin()" >Admin Login</button>
  </div>


</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>